DIRECTORY_MANAGEMENT_EXECUTIVE_FILE_ADDRESS=
DIRECTORY_MANAGEMENT_EXECUTIVE_FILE_ADDRESS_CONTAINING_DIRECTORY=
FEND_ADDRESS=
FEND_HOST_ADDRESS=
FEND_GUEST_ADDRESS=
BEND_ADDRESS=
CALLS_ADDRESS=
TOOLS_ADDRESS=
NOTES_MESSAGES_ADDRESS=
WEB_LINKS_ADDRESS=
IS_OPENNING_FEND_HOST_ADDRESS=
IS_OPENNING_FEND_GUEST_ADDRESS=
IS_OPENNING_BEND_ADDRESS=
IS_OPENNING_CALLS_ADDRESS=
IS_OPENNING_TOOLS_ADDRESS=
IS_OPENNING_NOTES_MESSAGES_ADDRESS=
IS_OPENNING_WEB_LINKS_ADDRESS=
IS_OPENNING_FEATURE_SELF_ADDRESS=
IS_OPENNING_FEND_ADDRESS=