#vsc files
.vs

# build results
[Dd]bug/
[Dd]bugPublic/
[Re]lease/
[Re]leases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

environment-variables-files/
environment-variables-source/

# macos files
.DS_Store

# jetbrains ides
.idea/

# output of scripts interpolations
target/

# file that tells compiler which version to use
WorkingCirculation/EnvironmeentVariablesManagement/global.json
WorkingCirculation/ExtractJavascriptObjectFromEdgeConsoleLogs/global.json

# javafx target directories
target/


#windows batch files
winos-run.bat

# worker files
*.worker.sh
*.worker.bat
*.worker.ps1
*.worker.json

# worker directories
worker/
workers/
*.worker
*.workers

# version setting files
global.json

# angular scripts worker files
create-worker-files.worker.ps1
component.worker.ps1
module-with-component.worker.ps1
project.worker.ps1

# local development settings files
appsettings.Development.json
dotnet/notepad-plus-plus-file-management/settings/notepad-plus-plus-file-management/appsettings.json
dotnet/notepad-plus-plus-file-management/terminal/notepad-plus-plus-file-management/appsettings.json
