#vsc files
.vs

# build results
[Dd]bug/
[Dd]bugPublic/
[Re]lease/
[Re]leases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

scripts/environment-variables-files/
scripts/environment-variables-source/

# macos files
.DS_Store

# jetbrains ides
.idea/

# output of scripts interpolations
target/

# file that tells compiler which version to use
WorkingCirculation/EnvironmeentVariablesManagement/global.json
WorkingCirculation/ExtractJavascriptObjectFromEdgeConsoleLogs/global.json

# javafx target directories
target/


#windows batch files
winos-run.bat

# worker files
*.worker.sh
*.worker.bat
*.worker.ps1
*.worker.json

# version setting files
global.json

# angular scripts worker files
create-worker-files.worker.ps1
component.worker.ps1
module-with-component.worker.ps1
project.worker.ps1

# angular git ignore file
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
learnings/angular/slide-in-over-lay/dist
learnings/angular/slide-in-over-lay/tmp
learnings/angular/slide-in-over-lay/out-tsc
learnings/angular/slide-in-over-lay/bazel-out

# Node
learnings/angular/slide-in-over-lay/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
learnings/angular/slide-in-over-lay/.angular/cache
.sass-cache/
learnings/angular/slide-in-over-lay/connect.lock
learnings/angular/slide-in-over-lay/coverage
learnings/angular/slide-in-over-lay/libpeerconnection.log
testem.log
learnings/angular/slide-in-over-lay/typings

# System files
.DS_Store
Thumbs.db



