<button mat-button (click)="refresh()">Refresh</button>

<mat-table [dataSource]="items">
  <ng-container matColumnDef="performedOnDate">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.performedOnDate | date:'medium' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <livergol-pill-taking-delete-one [itemId]="item.id" (deleted)="refreshAfterDelete()" />
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber - 1"
  [pageSizeOptions]="[5, 8, 10, 20, 50]"
  (page)="onPageChange($event)"
/>
<span class="page-count">Page {{ pageNumber }} of {{ totalPages }}</span>
