<button mat-button (click)="refresh()">Refresh List</button>

<mat-table [dataSource]="betweenTeethBrushings$">
  <ng-container matColumnDef="performedOnDate">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.performedOnDate | date:'medium' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <between-teeth-brushing-delete-one [itemId]="item.id" (deleted)="refresh()" />
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
