:host {
}

.head-block {
  height: 200px;
  background-color: aquamarine;
}

.body-block {
  position: relative;
  background-color: bisque;
  height: calc(100vh - 200px);
  z-index: 2;
}

.slide-in-over-lay {
  width: 305px;
  border: 1px solid lightsalmon;
  height: 970px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
}
