RIDER_LOCATION=
SECONDARY_APPLICATION_LOCATION=
CAFDEM_EXECUTIVE_FILE_ADDRESS_CONTAINING_DIRECTORY=
CAFDEM_EXECUTIVE_FILE_ADDRESS=
FEATURE_NAME=
HOSTING_DIRECTORY=
APPLICATION="ide-management"
COMMAND="open"
IDE_NAME="rider"