WEBSTORM_LOCATION=
SECONDARY_CLIENTAPP_LOCATION=
CAFDEM_EXECUTIVE_FILE_ADDRESS_CONTAINING_DIRECTORY=
CAFDEM_EXECUTIVE_FILE_ADDRESS=
FEATURE_NAME=
HOSTING_DIRECTORY=
GUEST_APPLICATION_NAME=
SECONDARY_APPLICATION_NAME=
APPLICATION="ide-management"
COMMAND="open"
IDE_NAME="webstrom"