RIDER_LOCATION=
PRIMARY_APPLICATION_LOCATION=
CAFDEM_EXECUTIVE_FILE_ADDRESS_CONTAINING_DIRECTORY=
CAFDEM_EXECUTIVE_FILE_ADDRESS=
FEATURE_NAME=
HOSTING_DIRECTORY=
PRIMARY_APPLICATION_NAME="ui"
APPLICATION="ide-management"
COMMAND="close"
IDE_NAME="rider"