NOTEPAD_PLUS_PLUS_FILE_MANAGEMENT_EXECUTIVE_FILE_CONTAINING_DIRECTORY=
NOTEPAD_PLUS_PLUS_FILE_MANAGEMENT_EXECUTIVE_FILE_LOCATION=
NOTEPADDPP_EXECUTE_FILE_LOCATION=
FEATURE_NAME=
HOSTING_DIRECTORY=
HOST_APPLICATION_NAME=
GUEST_APPLICATION_NAME=
COMMAND=